/* =================================
------------------------------------
  Game Warrior Template
  Version: 1.0
 ------------------------------------ 
 ====================================*/

/*---------------------------*/
/* Template default CSS
/*---------------------------*/

html,
            body, html {
                margin: 0;
                padding: 0;
                width: 100%;
                height: 100%;
                background-color: #8f8d8d;
            }
/* Preloder */
        #preloder {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: #fff;
}

.loader {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
	animation: loader 0.8s linear infinite;
	-webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

/*------------------
  Header section
---------------------*/

.user-panel {
	float: center;
	font-weight: 5200;
	background: #000;
	padding: 24px 28px;
	border-radius: 30px;
}

.user-panel a {
	font-size: 14px;
	background-color: #000;
}

.user-paneli {
	float: center;
	font-weight: 5200;
	background: #000;
	padding: 24px 28px;
	border-radius: 30px;
}

.user-paneli a {
	font-size: 14px;
	background-color: #000;
}

.copytexti {
font-family: fantasy;
display: inline-block;
border-radius: 4px;
background-color: aqua;
color: black;
border: none;
}
}

.loader {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader > img {
    width: 100px;
}

.langbar {
text-align: left;
position: fixed;
background: white;
}

.loader.hidden {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.thumb {
    height: 100px;
    border: 1px solid black;
    margin: 10px;
}

.main-menu {
	float: right;
	margin-right: -4px;
}

.searchi {
 background-color: transparent;
 border: none;
}

.main-menu ul {
	list-style: none;
}

.main-menu ul li {
	display: inline;
}

.main-menu ul li a {
	display: inline-block;
	font-size: 16px;
	color: #fff;
	margin-left: 35px;
	font-weight: 500;
	padding: 10px 5px;
}

.main-menu ul li a:hover {
	color: #ffb320;
}

.header-btn {
	float: right;
	margin-right: 0;
}

.nav-switch {
	display: none;
}

/*---------------------
  Latest News section1
-----------------------*/

.latest-news-section {
	overflow: hidden;
	display: block;
	clear: both;
	background: #131313;
	padding: 24px 0;
	position: relative;
}

.ln-title {
	position: absolute;
	height: 100%;
	width: 29%;
	left: 0;
	top: 0;
	text-align: right;
	padding-top: 24px;
	padding-right: 66px;
	font-size: 18px;
	font-weight: 500;
	color: #fff;
	background: #ffb320;
	z-index: 1;
}

.news-ticker {
	width: 71%;
	float: right;
	overflow: hidden;
	display: inline-block;
}

.news-ticker-contant .nt-item {
	margin-right: 35px;
	color: #fff;
	display: inline-block;
}

.news-ticker-contant .nt-item span {
	margin-right: 35px;
	display: inline-block;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 500;
	color: #fff;
	padding: 4px 20px;
}

.news-ticker-contant .nt-item span.new {
	background: #ff205f;
}

.news-ticker-contant .nt-item span.strategy {
	background: #4eae60;
}

.news-ticker-contant .nt-item span.racing {
	background: #694eae;
}

/*---------------------
  Latest News section2
-----------------------*/

.latest-news-section2 {
	overflow: hidden;
	display: block;
	clear: both;
	background: #131313;
	padding: 24px 0;
	position: relative;
}

.ln-title2 {
	position: absolute;
	height: 100%;
	width: 29%;
	left: 0;
	top: 0;
	text-align: right;
	padding-top: 24px;
	padding-right: 66px;
	font-size: 18px;
	font-weight: 500;
	color: #fff;
	background: #ffb320;
	z-index: 1;
}

.news-ticker2 {
	width: 71%;
	float: right;
	overflow: hidden;
	display: inline-block;
}

.news-ticker-contant2 .nt-item2 {
	margin-right: 35px;
	color: #fff;
	display: inline-block;
}

.news-ticker-contant2 .nt-item2 span {
	margin-right: 35px;
	display: inline-block;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 500;
	color: #fff;
	padding: 4px 20px;
}

.news-ticker-contant2 .nt-item2 span.new {
	background: #ff205f;
}

.news-ticker-contant2 .nt-item2 span.strategy {
	background: #4eae60;
}

.news-ticker-contant2 .nt-item2 span.racing {
	background: #694eae;
}

            body, html {
				font-family: fantasy;
                margin: 0;
                padding: 0;
                width: 100%;
                height: 100%;
                background-color: black;
            }

            #main-container {
                margin: 0;
                padding: 5px 100px;
                background-color: black;
                color: white;
            }

            #main-table {
		font-family: fantasy;
                width: 100%;
                border-collapse: collapse;
                background-color: black;
            }

            #main-table .avatar-cell {
                background-size: 48px !important;
                background-position: center !important;
                height: 248px;
                width: 248px;
                padding: 6px;
                cursor: pointer;
            }
			
            #main-table .copy-text-button {
			font-family: fantasy;
                display: inline-block;
                border-radius: 4px;
                background-color: green;
                border: none;
                color: red;
                text-align: center;
                padding: 5px;
                width: 50px;
                transition: all 0.5s;
                cursor: pointer;
                margin: 5px;
            }

            #main-table .copy-text-button span {
			font-family: Fantasy;
                cursor: pointer;
                display: inline-block;
                position: relative;
                transition: 0.5s;
            }
            #main-table .listing-row.visited {
			    font-family: Fantasy;
                background-color: red;
                color: black;
				font-weight: bold;
            }
            a:link {
            color: rgb(255, 255, 255);
            background-color: transparent;
			font-weight: bold;
            text-decoration: none;
            }

            a:visited {
            color: rgb(0, 150, 255);
            background-color: transparent;
            text-decoration: none;
            }

            a:hover {
            color: rgb(255, 0, 0);
            background-color: transparent;
            text-decoration: underline;
            }

            a:active {
            color: yellow;
            background-color: transparent;
            text-decoration: underline;
            }
			:root {
  --clr-neon: hsl(317 100% 54%);
  --clr-bg: hsl(323 21% 16%);
}

*,
*::before,
*::after {

}

.neon-button {
  font-size: 111rem;
  font-weight: bold;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border: var(--clr-neon) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 5.25em;
}


.neon-button:hover,
.neon-button:focus {
  color: var(--clr-bg);
  text-shadow: none;
}

.neon-button:hover::before,
.neon-button:focus::before {
}
.neon-button:hover::after,
.neon-button:focus::after {
}
.button5 {border-radius: 50%;}
.button {
  background-color: #000; /* Green */
  border: none;
  color: white;
  padding: 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
}		

i {
  background-color: transparent;
  font-weight: bold;
  border-radius: 50%;
  border: 1px ;
  padding: 10px;
}
